.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1108px;
}

.back-button:hover {
  background-color: #0056b3;
}

 .post-image {
  max-width: 70%;
  max-height: fit-content;
  margin: 0.5rem 0;
}

 .post-video {
  width: 62%;
  max-height: fit-content;
  margin: 0.5rem 0;
}  
