.post-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin: 0 1rem 1rem;
}

.post-title {
  margin: 0 0 0.5rem;
}

.post-meta {
  font-size: 0.85rem;
  color: #d7c8c8;
}

.post-author {
  color: rgb(167, 219, 219);
}

.post-stats {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
 .postCard-image {
    width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

 .postCard-video {
  width: 100%;
  max-height: 700px;
  margin: 0.5rem 0;
}  
